@model ConsultorioMedico.Models.ViewModel.UsersDatosModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class=" card containerDetalles"
<div>
    <h4>UsersDatosModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id_Usuario }) |
    @Html.ActionLink("Regresar a la Lista", "User")
</p>
    </div>